<div nz-row nzGutter="25">
    <!-- skeleton -->
    <ng-template #loadingSkeleton>
        <nz-skeleton class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]" [nzShape]="circle" [nzActive]="true"
            [nzParagraph]="{ rows: 5 }"></nz-skeleton>
    </ng-template>
    <!-- skeleton -->
    <div class="mx-[20px] py-4 w-full flex justify-end">
        <button
            class="bg-primary hover:bg-primary-hbr hover:border-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px]"
            nz-button (click)="isOpenModal = true; proyectoToSendModal=undefined"><span>Agregar proyecto</span></button>

        <modal-proyecto-component [wasOpen]="isOpenModal" [proyectoForEdit]="proyectoToSendModal"
            (wasClosed)="isOpenModal = false; gettingProyectos()"></modal-proyecto-component>

        <modal-tareas-proyecto-component [wasOpenModalTareas]="isOpenModalTareas" [proyectoToEdit]="proyectoToSendModal"
            (closeModal)="isOpenModalTareas = false; gettingProyectos()"></modal-tareas-proyecto-component>
    </div>

    <div nz-col nzXs="24" class="mb-[25px]">
        <ng-container *ngIf="showContent; else loadingSkeleton">
            <datatable-component [Proyectos]="proyectos" (openModal)="isOpenModal = true"
                (openModalTareas)="isOpenModalTareas=true"
                (proyectoWasSelected)="handleDataProyecto($event)"></datatable-component>
        </ng-container>
    </div>

</div>
